/* =================================
  Base Element Styles
==================================== */
@font-face {
    font-family: 'ostrich sans';
    src: url('../fonts/ostrichsansinline-regular-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsansinline-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}





body {
  background-color: #F2EEE2;
}



h1 {
font-family:  'ostrich sans';
font-size: 8em;
text-align: center;
color: #E24E42;

}

h2 {
  font-family: 'ostrich sans';
  font-size: 4em;
  color: #EB6380;
  text-align: center;

}

p {
  font-family: 'open sans';
  font-size: 1.5em;

}

strong {
  font-family: 'open sans';
  font-size: 2em;
  color: #008f95;
}

/* =================================
  Base Layout Styles
==================================== */
.main.nav {
  font-family: 'open sans';
  font-size: 1em;
  color: #008f95;
}
